html,body {
	height: 100%;	
}
body {
	overflow: hidden;
	background-color: #6CA6CD;
}
.desktop {
	font-size: 100px;
	body {
		background-color: #fff;
		.page {
			max-width: 750px;
			margin: 0 auto;	
		    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		    .list-wrap {
		    	max-width: 750px;
				margin: 0 auto;
				background-color: #6CA6CD;
		    }
		}
	}	
}
.page {	
	font-size: .32rem;
	color: #333;	
}
